# SI 385 Group Project Analysis Notebook

### Analysis of NFL Stadium Attendance

###### Matthew Urbanczyk, Emily Adamo, Sam Gibson

## 1. Reading in and Cleaning Data

In [1]:
# import libraries
import pandas as pd

In [ ]:
nfl_attendance_stats = pd.read_csv('../attendance.csv')
nfl_games_stats = pd.read_csv('../games.csv')
nfl_standings_stats = pd.read_csv('../standings.csv')

In [7]:
nfl_attendance_stats.describe()

,year,total,home,away,week,weekly_attendance
count,10846.000000,1.084600e+04,10846.000000,10846.000000,10846.000000,10208.000000
mean,2009.528213,1.080910e+06,540455.012539,540455.012539,9.000000,67556.876567
std,5.753415,7.287697e+04,66774.652550,25509.325673,4.899205,9022.015325
min,2000.000000,7.606440e+05,202687.000000,450295.000000,1.000000,23127.000000
25%,2005.000000,1.040509e+06,504360.000000,524974.000000,5.000000,63245.500000
50%,2010.000000,1.081090e+06,543185.000000,541757.000000,9.000000,68334.000000
75%,2015.000000,1.123230e+06,578342.000000,557741.000000,13.000000,72544.750000
max,2019.000000,1.322087e+06,741775.000000,601655.000000,17.000000,105121.000000

In [9]:
nfl_attendance_stats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10846 entries, 0 to 10845
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   team               10846 non-null  object
 1   team_name          10846 non-null  object
 2   year               10846 non-null  int64
 3   total              10846 non-null  int64
 4   home               10846 non-null  int64
 5   away               10846 non-null  int64
 6   week               10846 non-null  int64
 7   weekly_attendance  10208 non-null  float64
dtypes: float64(1), int64(5), object(2)
memory usage: 678.0+ KB

In [14]:
nfl_attendance_stats

,team,team_name,year,total,home,away,week,weekly_attendance
0,Arizona,Cardinals,2000,893926,387475,506451,1,77434.0
1,Arizona,Cardinals,2000,893926,387475,506451,2,66009.0
2,Arizona,Cardinals,2000,893926,387475,506451,3,NaN
3,Arizona,Cardinals,2000,893926,387475,506451,4,71801.0
4,Arizona,Cardinals,2000,893926,387475,506451,5,66985.0
...,...,...,...,...,...,...,...,...
10841,Washington,Redskins,2019,1101466,523906,577560,13,71504.0
10842,Washington,Redskins,2019,1101466,523906,577560,14,77296.0
10843,Washington,Redskins,2019,1101466,523906,577560,15,63246.0
10844,Washington,Redskins,2019,1101466,523906,577560,16,66083.0
10845,Washington,Redskins,2019,1101466,523906,577560,17,90646.0

In [9]:
nfl_games_stats

,year,week,home_team,away_team,winner,tie,day,date,time,pts_win,pts_loss,yds_win,turnovers_win,yds_loss,turnovers_loss,home_team_name,home_team_city,away_team_name,away_team_city
0,2000,1,Minnesota Vikings,Chicago Bears,Minnesota Vikings,NaN,Sun,September 3,1:00PM,30,27,374,1,425,1,Vikings,Minnesota,Bears,Chicago
1,2000,1,Kansas City Chiefs,Indianapolis Colts,Indianapolis Colts,NaN,Sun,September 3,1:00PM,27,14,386,2,280,1,Chiefs,Kansas City,Colts,Indianapolis
2,2000,1,Washington Redskins,Carolina Panthers,Washington Redskins,NaN,Sun,September 3,1:01PM,20,17,396,0,236,1,Redskins,Washington,Panthers,Carolina
3,2000,1,Atlanta Falcons,San Francisco 49ers,Atlanta Falcons,NaN,Sun,September 3,1:02PM,36,28,359,1,339,1,Falcons,Atlanta,49ers,San Francisco
4,2000,1,Pittsburgh Steelers,Baltimore Ravens,Baltimore Ravens,NaN,Sun,September 3,1:02PM,16,0,336,0,223,1,Steelers,Pittsburgh,Ravens,Baltimore
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5319,2019,Division,Kansas City Chiefs,Houston Texans,Kansas City Chiefs,NaN,Sun,January 12,3:05PM,51,31,434,1,442,1,Chiefs,Kansas City,Texans,Houston
5320,2019,Division,Green Bay Packers,Seattle Seahawks,Green Bay Packers,NaN,Sun,January 12,6:40PM,28,23,344,0,375,0,Packers,Green Bay,Seahawks,Seattle
5321,2019,ConfChamp,Kansas City Chiefs,Tennessee Titans,Kansas City Chiefs,NaN,Sun,January 19,3:05PM,35,24,404,0,295,0,Chiefs,Kansas City,Titans,Tennessee
5322,2019,ConfChamp,San Francisco 49ers,Green Bay Packers,San Francisco 49ers,NaN,Sun,January 19,6:40PM,37,20,354,0,358,3,49ers,San Francisco,Packers,Green Bay
5323,2019,SuperBowl,Kansas City Chiefs,San Francisco 49ers,Kansas City Chiefs,NaN,Sun,February 2,6:30PM,31,20,397,2,351,2,Chiefs,Kansas City,49ers,San Francisco

In [10]:
nfl_standings_stats

,team,team_name,year,wins,loss,points_for,points_against,points_differential,margin_of_victory,strength_of_schedule,simple_rating,offensive_ranking,defensive_ranking,playoffs,sb_winner
0,Miami,Dolphins,2000,11,5,323,226,97,6.1,1.0,7.1,0.0,7.1,Playoffs,No Superbowl
1,Indianapolis,Colts,2000,10,6,429,326,103,6.4,1.5,7.9,7.1,0.8,Playoffs,No Superbowl
2,New York,Jets,2000,9,7,321,321,0,0.0,3.5,3.5,1.4,2.2,No Playoffs,No Superbowl
3,Buffalo,Bills,2000,8,8,315,350,-35,-2.2,2.2,0.0,0.5,-0.5,No Playoffs,No Superbowl
4,New England,Patriots,2000,5,11,276,338,-62,-3.9,1.4,-2.5,-2.7,0.2,No Playoffs,No Superbowl
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
633,Carolina,Panthers,2019,5,11,340,470,-130,-8.1,1.1,-7.0,-1.9,-5.1,No Playoffs,No Superbowl
634,San Francisco,49ers,2019,13,3,479,310,169,10.6,0.4,11.0,6.7,4.3,Playoffs,No Superbowl
635,Seattle,Seahawks,2019,11,5,405,398,7,0.4,2.3,2.7,2.9,-0.2,Playoffs,No Superbowl
636,Los Angeles,Rams,2019,9,7,394,364,30,1.9,2.0,3.9,2.2,1.7,No Playoffs,No Superbowl
637,Arizona,Cardinals,2019,5,10,361,442,-81,-5.1,1.8,-3.2,-0.3,-2.9,No Playoffs,No Superbowl